
h1 {
    text-align: center;
    color:#012d64
}



.about-title {
    text-align: center;
    color: #012d64;
}

.about-text {
    text-align: justify;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
}

.tedu-img{
    width: 30%;
    height: 30%;
    display: -webkit-box;
    margin-left: auto;
    padding-right: 5%;
}

.about-sites {
    text-align: justify;
    font-size: 18px;
}