
h1 {
    text-align: center;
    color:#012d64
}

.card {
    margin: 30px auto;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
    flex-shrink: 3;
    align-items: center !important;
    text-align: center !important;
  }

.about-title {
    text-align: center;
    color: #012d64;
}

.about-text {
    text-align: justify;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
}

.tedu-img{
    width: 30%;
    height: 30%;
    display: -webkit-box;
    margin-left: auto;
    padding-right: 5%;
}

.about-sites {
    text-align: justify;
    font-size: 18px;
}